<?xml version="1.0"?>
<model>
  <name>structured_1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Stephanie Aravecchia</name>
    <email>stephanie.aravecchia@georgiatech-metz.fr</email>
  </author>

  <description>
    Simulation environment from one single stl to compare to ground truth
  </description>

</model>
